body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;
}

:root {
  --main-color: rgb(31, 37, 51);
  --background-color: rgb(233, 237, 246);
  --test-color: rgb(97, 101, 108);
}

/* container */
.container__wrap {
  margin: 0 auto;
  max-width: 768px;
}

.acc {
  background-color: var(--background-color);
}

.test {
  background-color: var(--test-color);
}